<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Report Date</th>
		<th>Expn Date</th>
		<th>Amount</th>
		<th>Payee Name</th>
		<th>Filer Name</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in payments">
		<td>{{row.Rpt_Date}}</td>
		<td>{{row.Expn_Date}}</td>
		<td>{{row.Amount}}</td>
		<td>{{row.Payee_NamL}}</td>
		<td>{{row.Filer_NamL}}</td>
	</tr>
	</tbody>
</table>